spring:
  datasource:
    url: jdbc:h2:file:~/testdb
    username:
    password:
  h2:
    console:
      enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        stmp:
          auth: true
          starttls:
            enable: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
app:
  jwt:
    secret:
